{% extends "base.html.twig" %}


{% block title %}
    Application
{% endblock %}

{% block main %}
    <h4 class="modal-title text-monospace mb-3">{{ 'title.manage_lists'|trans }}</h4>

        <div class="col-lg-5 col-md-10 column mb-4">
            <h5 class="h5 text-monospace">Twoje listy:</h5>
            {% if lists is defined and lists|length %}
                <table class="table table-hover">
                    <!--<caption>{{ 'title.manage_lists'|trans }}</caption>-->
                    <tbody>
                    {% for list in lists %}
                        <div class="manager-row">
                            <div class="text-dark">{{ list.name }}</div>
                            <a href="{{ url('list_edit', {'id' : list.id}) }}" class="btn btn-warning text-white">{{ 'label.edit'|trans }}</a>
                            <a href="{{ url('list_delete', {'id': list.id}) }}" class="btn btn-danger text-white">{{ 'action.delete'|trans }}</a>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ 'title.no_shoppinglists'|trans }}</p><a href="{{ url('list_add') }}" class="text-success">{{ 'label.add_list'|trans }}</a>
            {% endif %}

        </div>

        <span style="width: 30px;"></span>

        <div class="col-lg-5 col-md-10 column">

            {% if linkedLists is defined and linkedLists|length %}
            <h5 class="h5 text-monospace">Współdzielone listy:</h5>

            <table class="table table-hover">
                <!--<caption>{{ 'title.manage_lists'|trans }}</caption>-->
                <tbody>
                {% for list in linkedLists %}
                    <div class="manager-row">
                        <div class="text-dark">{{ list.name }} <span class="fa fa-users"></span> </div>
                        <a href="{{ url('list_edit', {'id' : list.id}) }}" class="btn btn-warning text-white">{{ 'label.edit'|trans }}</a>
                        <a href="{{ url('list_delete', {'id': list.id}) }}" class="btn btn-danger text-white">{{ 'action.delete'|trans }}</a>
                    </div>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>


{% endblock %}
