{% extends "base.html.twig" %}



{% block main %}
    <h4 class="modal-title text-monospace mb-3">{{ activeList.name }} {% if sharedUsers is defined and sharedUsers|length %}<span class="fa fa-users"></span> {% endif %}</h4>

            <input onchange="searchProducts();" class="form-control" type="search" id="products" placeholder="{{ 'label.search_products'|trans }}">

            {% if userProducts is defined and userProducts|length %}
                <table class="table table-hover">
                    <!--<caption>{{ 'title.manage_lists'|trans }}</caption>-->
                    <tbody>
                    {% for product in userProducts %}
                        <div onclick="handlePopover({{ product.id }});" id="{{ product.id }}" data-name="row" class="row">
                            <div  class="custom-narrow"> <span class="badge badge-primary badge-pill">{{ product.quantity - product.currentQuantity }}</span><span> {% if product.isItem == true %} {{ 'label.item'|trans }} {% else %} {{ 'label.weight'|trans }} {% endif %}</span></div>
                            <div data-name="product" class="text-dark {% if product.quantity - product.currentQuantity <= 0  %} custom-bought {% endif %}">{{ product.name }}</div>
                            {% if product.quantity - product.currentQuantity > 0 %}
                                <div class="custom-btn_table"><a href="{{ url('product_buy', {'id': product.id}) }}"><button type="button" class="btn btn-success">{{ 'label.bought'|trans }}</button></a></div>
                            {% endif %}
                            <span data-name="{{ product.id }}" class="fa fa-angle-down text-info custom-icon-pos"></span>
                        </div>
                        <div class="row-add " data-name="{{ product.id }}" id="product1">
                            <span>{{ 'label.addedBy'|trans }}: </span><span>{{ product.login }}</span><br/>
                            <span>{{ 'label.addedAt'|trans }}: </span><span>{{ product.createdAt }}</span><br/>
                            <span>{{ 'label.lastModified'|trans }}: </span><span>{{ product.modifiedAt }}</span><br/>
                            <span>{{ 'label.message'|trans }}: </span><span>{{ product.message }}</span>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ 'text.no_user_products'|trans }}</p>
            {% endif %}



            {% if otherProducts is defined and otherProducts|length %}

                <table class="table table-hover">
                    <!--<caption>{{ 'title.manage_lists'|trans }}</caption>-->
                    <tbody>
                    {% for product in otherProducts %}
                        <div onclick="handlePopover({{ product.id }});" data-name="row" class="row" id="{{ product.id }}">
                            <div  class="custom-narrow"><span class="fa fa-user mr-1"></span> <span class="badge badge-primary badge-pill">{{ product.quantity - product.currentQuantity }}</span><span> {% if product.isItem == true %} {{ 'label.item'|trans }} {% else %} {{ 'label.weight'|trans }} {% endif %}</span></div>
                            <div data-name="product" class="text-dark  {% if product.quantity - product.currentQuantity <= 0  %} custom-bought {% endif %}">{{ product.name }}</div>
                            {% if product.quantity - product.currentQuantity > 0 %}
                                <div class="custom-btn_table"><a href="{{ url('product_buy', {'id': product.id}) }}"><button type="button" class="btn btn-success">{{ 'label.bought'|trans }}</button></a></div>
                            {% endif %}
                            <span data-name="{{ product.id }}" class="fa fa-angle-down text-info custom-icon-pos"></span>
                        </div>
                        <div class="row-add " data-name="{{ product.id }}">

                            <span>{{ 'label.addedBy'|trans }}: </span><span>{{ product.login }}</span><br/>
                            <span>{{ 'label.addedAt'|trans }}: </span><span>{{ product.createdAt }}</span><br/>
                            <span>{{ 'label.lastModified'|trans }}: </span><span>{{ product.modifiedAt }}</span><br/>
                            <span>{{ 'label.message'|trans }}: </span><span>{{ product.message }}</span>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

{% endblock %}

{% block managePanel %}
    <a href="{{ url('product_add', {'id': activeList.id}) }}" title="{{ 'label.add_element'|trans }}" class="text-light"> <span class="fa fa-plus text-warning" ></span> {{ 'label.add_element'|trans }}</a>

    {% if sharedUsers is defined and sharedUsers|length %}
        <p class="text-light mt-4 mb-3">{{ 'title.shared_with'|trans }}:</p>
             <ol class="text-light">
                {% if isLinked == true and listOwner is defined and listOwner|length %}
                    <li>{{ listOwner.login }} <span class="fa fa-user-ninja"></span> </li>
                {% endif %}

                    {% for user in sharedUsers %}
                        <li>{{ user }}</li>
                    {% endfor %}

            </ol>

    {% endif %}
{% endblock %}