<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}ShopLista{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include 'default/_flash_messages.html.twig' %}
    <!--<header class="header">
        <button class="btn btn-outline-primary my-2 my-sm-0" >Sign Out</button>
    </header>-->
    <button onclick="toggleAppMenu();" class="navbar-toggler custom-toggler bg-primary" type="button" data-toggle="collapse" data-target="appNav"  aria-label="Toggle navigation">
        <span class="fa fa-bars text-light  p-2" style="font-size: 1.2rem;"></span>
    </button>
    <div class="main-content">

        <aside class="aside bg-primary menu-display" id="appNav">
            <a href="{{ url('index_page') }}" class="h1 card-title text-light m-lg-2">ShopLista</a>

            {% if  is_granted('ROLE_ADMIN') %}

                <a href="{{ url('admin_add') }}" title="{{ 'label.add_admin'|trans }}" class="text-light"><li class="list-group-item bg-primary">{{ 'labe.add_admin'|trans }} </li></a>

            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="tabset bg-primary">
                <a onclick="handleActiveFirstTab();" id="tab1" class="tab active">{{ 'label.yours_lists'|trans }} <span class="fas fa-long-arrow-alt-down"></span></a>
                <a onclick="handleActiveSecondTab();" id="tab2" class="tab inactive">{{ 'label.linked_lists'|trans }} <span class="fas fa-long-arrow-alt-down"></span></a>
            </div>

            <div class="list-container userLists-container" data-name="tab1">
                <input onchange="searchListUsers();" id="search_user" class="form-control d-inline" type="search" placeholder="{{ 'label.search_list'|trans }}">
                <ul id="list_user" class="list-group list-margin" >
            {% if lists is defined and lists|length %}


                    {% for list in lists %}
                        <a href="{{ url('lists_view', {'id': list.id}) }}" title="{{ list.name }}" class="text-light"><li class="list-group-item bg-primary">{{ list.name }} </li></a>
                    {% endfor %}


                {% else %}
                <p>{{ 'label.no_user_lists'|trans }}</p>
            {% endif %}
                </ul>
            </div>

            <div class="list-container userLinked-container d-none" data-name="tab2">
                <input onchange="searchListLinked();" id="search_linked" class="form-control" type="search" placeholder="{{ 'label.search_list'|trans }}">
                <ul id="list_linked" class="list-group list-margin" >
            {% if linkedLists is defined and linkedLists|length %}


                    {% for linkedList in linkedLists %}
                        <a href="{{ url('lists_view', {'id': linkedList.id}) }}" title="{{ linkedList.name }}" class="text-light"><li class="list-group-item bg-primary">{{ linkedList.name }} <span class="fas fa-users"></span></li></a>
                    {% endfor %}


                {% else %}
                    <p>{{ 'label.no_linked_lists'|trans }}</p>

            {% endif %}
                </ul>
            </div>

            {% endif %}

            <ul class="list-group list-margin">
                {% if  is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}" class="text-light">
                        <li class="logout list-group-item bg-primary">{{ 'auth.logout.label'|trans }} <span class="fas fa-sign-out-alt"></span></li>
                    </a>
                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="media-panel">
                        <ul class="list-manager">
                            <a href="{{ url('lists_manager') }}" title="{{ 'title.manage_lists'|trans }}" class="text-light"><span class="fa fa-cog text-warning"></span> {{ 'title.manage_lists'|trans }} </a>
                            <a href="{{ url('list_add') }}" title="{{ 'title.add_list'|trans }}" class="text-light"> <span class="fa fa-file text-warning" ></span> {{ 'title.add_list'|trans }}</a>
                        </ul>
                        <ul class="list-manager">
                            <a href="{{ url('user_edit_self') }}" title="{{ 'title.manage_account'|trans }}" class="text-light"> <span class="fa fa-user-cog text-warning "></span> {{ 'title.manage_account'|trans }}</a>
                        </ul>
                    </div>

                    <a href="{{ url('user_wallet') }}" title="{{ 'title.wallet'|trans }}" class="lists-wallet lists text-light"><li class="list-group-item bg-primary">{{ 'title.wallet'|trans }} <span class="fa fa-wallet"></span></li></a>
                    <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}" class="text-light">
                        <li class="logout list-group-item bg-primary">{{ 'auth.logout.label'|trans }} <span class="fas fa-sign-out-alt"></span></li>
                    </a>

                {% else %}
                    <a href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}" class="text-light">
                        <li class="list-group-item bg-primary">{{ 'auth.login.label'|trans }}</li>
                    </a>

                    <a href="{{ url('auth_create') }}" title="{{ 'auth.create.label'|trans }}" class="text-light">
                        <li class="list-group-item bg-primary">{{ 'auth.create.label'|trans }}</li>
                    </a>
                {% endif %}
            </ul>
        </aside>
        <main class="lists-content" id="appContent">
            {% block main %}{% endblock %}
        </main>

    </div>
{% if is_granted('ROLE_ADMIN') %}
    <!---->
    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="right-panel bg-dark">
            <ul class="list-manager">
                <a href="{{ url('lists_manager') }}" title="{{ 'title.manage_lists'|trans }}" class="text-light"><span class="fa fa-cog text-warning"></span> {{ 'title.manage_lists'|trans }} </a>
                <a href="{{ url('list_add') }}" title="{{ 'title.add_list'|trans }}" class="text-light"> <span class="fa fa-file text-warning" ></span> {{ 'title.add_list'|trans }}</a>
            </ul>
            <ul class="list-manager">
                <a href="{{ url('user_edit_self') }}" title="{{ 'title.manage_account'|trans }}" class="text-light"> <span class="fa fa-user-cog text-warning "></span> {{ 'title.manage_account'|trans }}</a>
            </ul>
            <ul class="list-manager">
                {% block managePanel %}{% endblock %}
            </ul>
        </div>
{% endif %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}
</body>
</html>